<form #f="ngForm">
  <div class="form-group" ngModelGroup>
    <label for="firstName">First Name</label>
    <input ngModel name="firstName" required minlength="3" maxlength="10" pattern="banana" type="text" #firstName="ngModel"
      (change)="log(firstName)" id="firstName" class="form-control">
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
      <div *ngIf="firstName.errors.required">First name is required</div>
      <div *ngIf="firstName.errors.minlength">First name should be minmum
        {{firstName.errors.minlength.requiredLength}} char</div>
      <div *ngIf="firstName.errors.pattern">First name doesn't match the pattern</div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label for="">
      <input type="checkbox" ngModel name="isSubscribed">
      subscribe to me
    </label>
  </div>
  <div class="form-group">
    <label for="contanctMethod">Contact Method</label>
    <select multiple name="conatactMethods" ngModel id="conatactMethods" class="form-control">
      <option value=""></option>
      <option [value]="method.id" *ngFor="let method of conatactMethods">{{method.name}}</option>
    </select>
  </div>
  <div *ngFor="let method of conatactMethods" class="radio">
    <label for="">
      <input ngModel type="radio" name="contactMethods" [value]="method.id">
      {{method.name}}
    </label>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>