<h1>
  {{title}}
</h1>
<button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; even as isEven">
    {{course}} <span *ngIf="isEven">(Even)</span>
  </li>
</ul>
<hr>
<ul>
  <li *ngFor="let ary of arrayCourses">
    {{ary.name}}
    <button (click)="onRemove(testing)">Remove</button>
  </li>
</ul>

<div (click)="onDiveClicked()">
  <button class="btn btn-primary" (click)="onSave($event)" [style.backgroundColor]="isActive ? 'blue':'white'"
    [class.active]="isActive">Save</button>
</div>
<input (keyup.enter)="onKeyUp()" type="text" placeholder="Please enter">
<!-- <input (keyup.enter)="onKeyUpEmail($event)" type="text" placeholder="Please enter email"> -->
<input #email (keyup.enter)="onKeyUpEmail(email.value)" type="text" placeholder="Please enter email">
<!-- <input [value]="emailStatic" (keyup.enter)="emailStatic = $event.target.value; onKeyUpConsole(emailStatic.value)" type="text" placeholder="Please enter email console"> -->
<input [(ngModel)]="emailStatic" (keyup.enter)="onKeyUpConsole()" type="text" placeholder="Please enter email console">
<p>{{textContent | summary:10}}</p>