<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <a [routerLink]="['/followers', user.id, user.login]">
      <div class="media border p-3">
        <img src={{user.avatar_url}} alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>{{user.login}}</h4>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
            ipsum Lorem ipsum Lorem ipsum </p>
        </div>
      </div>
    </a>
  </li>
</ul>