<div *ngIf="false">
    <h1>Hello World</h1>
    <app-courses></app-courses>
    <app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>
    <bootstrap-panel>
        <ng-container class="heading">Heading</ng-container>
        <div class="body">
            <h2>Body</h2>
            <p>Some content....</p>
        </div>
        <div class="footer">
            Footer
        </div>
    </bootstrap-panel>

    <!-- We use the template variable for defining the condition anything with (#) in the HTML file will be consider as the
template variable. -->
    <div *ngIf="courses.length > 0; then coursesList else noCourses">
        List of courses
    </div>
    <ng-template #coursesList>
        List of courses
    </ng-template>
    <ng-template #noCourses>
        No courses yet!
    </ng-template>

    <hr>
    <!-- Nav tabs -->
    <ul class="nav nav-pills">
        <li>
            <a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">Map View</a>
        </li>
        <li>
            <a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">List View</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'map'">
            Map View content
        </div>
        <div *ngSwitchCase="'list'">
            List View content
        </div>
        <div *ngSwitchDefault>Otherwise</div>
    </div>
    <hr>
    <input type="text" [appInputFormat]="'uppercase'">
    <div class="container">
        <h2>Template Driven Forms</h2>
        <div style="margin: 0 0 100px">
            <app-contact-form></app-contact-form>
        </div>
        <hr>
        <h2>Reactive Forms</h2>
        <div style="margin: 0 auto 100px">
            <app-sign-up></app-sign-up>
        </div>
        <hr>
        <div style="margin: 50px 0">
            <app-new-course-form></app-new-course-form>
        </div>
    </div>
</div>
<div class="container">
    <!-- <app-posts></app-posts> -->
</div>
<div class="container">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</div>