<form [formGroup]="form" (ngSubmit)="login()">
  <div class="alert alert-danger" *ngIf="form.errors">
    The username or password is invalid.
  </div>
  <div formGroupName="account">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="text" formControlName="username" class="form-control" id="email">
      <div *ngIf="username.pending">Checking for uniqueness......</div>
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="username.errors.required">
          Username is required
        </div>
        <div *ngIf="username.errors.minlength">
          username shoule be minimum {{username.errors.minlength.requiredLength}} charachters.
        </div>
        <div *ngIf="username.errors.cannotContainSpace">
          username cannot contain space.
        </div>
        <div *ngIf="username.errors.shouldBeUnique">
          username already taken.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" formControlName="password" class="form-control" id="pwd">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>