<input type="text" class="form-control" (keyup.enter)="create(title)" #title>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let post of posts">
    {{post.title}}
    <button class="btn btn-default btn-sm" (click)="update(post)">Update</button>
    <button class="btn btn-default btn-sm" (click)="deletePost(post)">Delete</button>
  </li>
</ul>